[treasuredata]
name=TreasureData
baseurl=https://td-agent-package-browser.herokuapp.com/{{ fluentd_version }}/redhat/$releasever/$basearch
gpgcheck=1
gpgkey=https://packages.treasuredata.com/GPG-KEY-td-agent
